sviluppo/ai-autopilot/n8n-workflows/workflows/11-multilang-channel-publisher.json
{
  "name": "AdOff 11 - Multilang Channel Publisher",
  "active": false,
  "nodes": [
    {
      "id": "wh",
      "name": "Webhook ML Publish",
      "type": "n8n-nodes-base.webhook",
      "position": [180, 400],
      "parameters": { "path": "adoff-ml-publish", "httpMethod": "POST", "responseMode": "responseNode", "options": {} },
      "typeVersion": 2,
      "webhookId": "adoff-ml-publish-001"
    },
    {
      "id": "base",
      "name": "Validate base",
      "type": "n8n-nodes-base.code",
      "position": [380, 400],
      "parameters": { "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst seed = (b.seed_post||'').trim();\nif (seed.length < 30) return [{ json: { error: 'seed_post required min 30 chars' } }];\nconst statuses = Array.isArray(b.status_filter) && b.status_filter.length ? b.status_filter : ['active','warming'];\nconst langs = Array.isArray(b.langs) ? b.langs : [];\nconst dry = b.dry_run === true;\nreturn [{ json: { seed, statuses, langs, dry } }];" },
      "typeVersion": 2
    },
    {
      "id": "readch",
      "name": "Read channels",
      "type": "n8n-nodes-base.postgres",
      "position": [580, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, platform, channel, lang, account_id, post_style, status, priority FROM adoff_autopilot.channels ORDER BY priority ASC, lang ASC",
        "options": {}
      },
      "typeVersion": 2.5,
      "credentials": { "postgres": { "id": "adoff-pg-autopilot-credential-1234", "name": "AdOff Autopilot PG" } }
    },
    {
      "id": "plan",
      "name": "Plan",
      "type": "n8n-nodes-base.code",
      "position": [780, 400],
      "parameters": { "jsCode": "const base = $('Validate base').first().json;\nif (base.error) return [{ json: base }];\nconst all = $input.all().map(i => i.json).filter(r => r && r.id);\nconst chans = all.filter(r => base.statuses.includes(r.status) && (!base.langs.length || base.langs.includes(r.lang)));\nconst needLangs = [...new Set(chans.map(c => c.lang).filter(l => l !== 'en'))];\nreturn [{ json: { seed: base.seed, dry: base.dry, channels: chans, needLangs, hasTr: needLangs.length > 0 } }];" },
      "typeVersion": 2
    },
    {
      "id": "iftr",
      "name": "Need translation?",
      "type": "n8n-nodes-base.if",
      "position": [980, 400],
      "parameters": { "conditions": { "options": { "caseSensitive": true }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.hasTr }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ] } },
      "typeVersion": 2
    },
    {
      "id": "tr",
      "name": "W01 batch translate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 300],
      "parameters": {
        "url": "http://172.17.0.1:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:32b', stream: false, options: { temperature: 0.2, top_p: 0.9, num_predict: 2200 }, prompt: 'You are a NATIVE-SPEAKER marketing copywriter for EACH of these languages (ISO codes): ' + $json.needLangs.join(', ') + '. Transcreate the AD below into every listed language. HARD RULES: (1) Output must be flawless native copy a professional native would sign - correct grammar, correct verb conjugations and agreement, natural word choice. (2) Re-read each translation and fix any conjugation or agreement error BEFORE returning. (3) NOT a literal word-for-word translation - adapt idioms. (4) Keep brand name \"AdOff\" and URL adoff.app verbatim. (5) Never name competitor brands. (6) Concise. Output ONLY one minified JSON object mapping each ISO code to its final proofread copy string - no markdown, no notes, no explanations. Shape: {\"de\":\"...\",\"it\":\"...\"}.\\n\\nAD (English):\\n' + $json.seed }) }}",
        "options": { "timeout": 280000, "response": { "response": { "neverError": true } } }
      },
      "typeVersion": 4.2
    },
    {
      "id": "asm",
      "name": "Assemble per channel",
      "type": "n8n-nodes-base.code",
      "position": [1440, 400],
      "parameters": { "jsCode": "const plan = $('Plan').first().json;\nlet tr = {};\ntry {\n  const items = $input.all();\n  let resp = items.length ? items[0].json : {};\n  if (resp && resp.body) resp = resp.body;\n  let raw = (resp && (resp.response || resp.translations)) || '';\n  if (typeof raw === 'object') { tr = raw; }\n  else if (typeof raw === 'string' && raw.trim()) {\n    let s = raw.replace(/^```(?:json)?\\s*/i,'').replace(/\\s*```\\s*$/i,'').trim();\n    const a = s.indexOf('{'), b = s.lastIndexOf('}');\n    if (a >= 0 && b > a) s = s.slice(a, b + 1);\n    try { tr = JSON.parse(s); } catch (e) { tr = {}; }\n  }\n} catch (e) {}\nfunction brandSanitize(s){ if(!s||typeof s!=='string') return s; const MAP=[['You ?Tube','video platforms'],['Google','search engines'],['Facebook','social media'],['Instagram','social media'],['TikTok','social media'],['Twitch','live streaming platforms'],['Twitter','social media'],['LinkedIn','professional networks'],['Amazon','e-commerce sites'],['GitHub','code platforms']]; let o=s; for(let i=0;i<MAP.length;i++){ o=o.replace(new RegExp('\\\\b'+MAP[i][0]+'\\\\b','gi'),MAP[i][1]); } return o.replace(/[ \\t]{2,}/g,' ').trim(); }\nfunction langFix(lang,s){ if(!s) return s; const M={ it:[['spiacciono','spiano'],['ti spiace','ti spia'],['spiace in segreto','spia in segreto']], es:[['te espien','te espían'],['espien','espían'],['te espie','te espía'],['los bloca','los bloquea'],['las bloca','las bloquea'],['bloca','bloquea']], pt:[['te espião','te espiona']] }; const arr=M[lang]||[]; let o=s; for(let i=0;i<arr.length;i++){ o=o.replace(new RegExp('\\\\b'+arr[i][0]+'\\\\b','gi'),arr[i][1]); } return o; }\nconst out = [];\nfor (const c of plan.channels) {\n  let raw = c.lang === 'en' ? plan.seed : (tr[c.lang] || '');\n  let body = brandSanitize(String(raw||'').replace(/^\\\"|\\\"$/g,'').trim());\n  body = langFix(c.lang, body);\n  const brand_leak = /\\b(you ?tube|facebook|instagram|tiktok|twitch|google)\\b/i.test(body);\n  const generation_failed = body.length < 20;\n  out.push({ json: { platform:c.platform, channel:c.channel, lang:c.lang, account_id:c.account_id, body, brand_leak, generation_failed, dry: plan.dry } });\n}\nif (!out.length) return [{ json: { error:'no channels', _empty:true } }];\nreturn out;" },
      "typeVersion": 2
    },
    {
      "id": "q",
      "name": "Queue to posts",
      "type": "n8n-nodes-base.postgres",
      "position": [1660, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO adoff_autopilot.posts_queue (workflow, platform, account_id, target_url, lang, body, quality_score, status, scheduled_at) SELECT 'ml-channel', $1, $2::int, $3, $4, $5, 7, CASE WHEN $6 THEN 'draft' ELSE 'queued' END, NOW() + (random()*interval '6 hours') WHERE $7 = false AND $8 = false RETURNING id, status, lang, platform, target_url",
        "options": {
          "queryReplacement": "={{ [$json.platform, $json.account_id ?? null, $json.channel, $json.lang, $json.body, !!$json.dry, !!$json.brand_leak, !!$json.generation_failed] }}"
        }
      },
      "typeVersion": 2.5,
      "credentials": { "postgres": { "id": "adoff-pg-autopilot-credential-1234", "name": "AdOff Autopilot PG" } }
    },
    {
      "id": "sum",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "position": [1880, 400],
      "parameters": { "jsCode": "const ins = $input.all().map(i=>i.json).filter(x=>x && x.id);\nconst proc = $('Assemble per channel').all().map(i=>i.json).filter(p=>!p._empty);\nconst skipped = proc.filter(p=>p.brand_leak || p.generation_failed).map(p=>({lang:p.lang, ch:p.channel, reason: p.generation_failed?'gen_failed':'brand_leak'}));\nreturn [{ json: { ok:true, channels_processed: proc.length, rows_inserted: ins.length, skipped, sample: proc.slice(0,8).map(p=>({lang:p.lang, ch:p.channel, body:String(p.body).slice(0,130)})) } }];" },
      "typeVersion": 2
    },
    {
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [2100, 400],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {} },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook ML Publish": { "main": [[{ "node": "Validate base", "type": "main", "index": 0 }]] },
    "Validate base": { "main": [[{ "node": "Read channels", "type": "main", "index": 0 }]] },
    "Read channels": { "main": [[{ "node": "Plan", "type": "main", "index": 0 }]] },
    "Plan": { "main": [[{ "node": "Need translation?", "type": "main", "index": 0 }]] },
    "Need translation?": { "main": [[{ "node": "W01 batch translate", "type": "main", "index": 0 }], [{ "node": "Assemble per channel", "type": "main", "index": 0 }]] },
    "W01 batch translate": { "main": [[{ "node": "Assemble per channel", "type": "main", "index": 0 }]] },
    "Assemble per channel": { "main": [[{ "node": "Queue to posts", "type": "main", "index": 0 }]] },
    "Queue to posts": { "main": [[{ "node": "Summary", "type": "main", "index": 0 }]] },
    "Summary": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
