sviluppo/ai-autopilot/n8n-workflows/workflows/21-gemini-email-ad-landing.json.bak.20260520-pre-audit-fix
{
  "id": "w21-gemini-email-ad-landing",
  "name": "21 — Gemini Email + Ad Copy + Landing Sections",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "id": "n21-001-trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "parameters": {}
    },
    {
      "id": "n21-002-trigger-webhook",
      "name": "Webhook /gemini/long-copy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-long-copy",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "gemini-long-copy-wh"
    },
    {
      "id": "n21-003-set-defaults",
      "name": "Set defaults + esplodi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Esplodi su (asset_type × lang × variant_index)\nconst input = items[0]?.json?.body || items[0]?.json || {};\nconst assets = Array.isArray(input.asset_types) && input.asset_types.length ? input.asset_types : ['email_drip','ad_copy','landing_section'];\nconst langs = Array.isArray(input.langs) && input.langs.length ? input.langs : ['it','en'];\nconst concept = input.concept || 'AdOff blocca la pubblicità invasiva: video puliti, navigazione veloce, privacy. Trial 15 giorni Pro gratis.';\nconst tone = input.tone || 'energica, brillante, diretta';\nconst use_pro = !!input.use_pro;\nconst variantsByType = { email_drip:1, ad_copy:3, landing_section:1 };\nconst contextByType = { email_drip: input.email_context || 'welcome_day_1', ad_copy: input.ad_platform || 'meta-ads', landing_section: input.landing_section || 'hero' };\nconst out = [];\nfor (const asset of assets) {\n  const nVar = input.variants ?? variantsByType[asset] ?? 1;\n  for (const lang of langs) {\n    for (let v=0; v<nVar; v++) {\n      out.push({ json: { asset_type:asset, lang, concept, tone, use_pro, variant_index:v, ctx:contextByType[asset] } });\n    }\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "n21-004-split-batches",
      "name": "Throttle",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "n21-005-build-prompt",
      "name": "Build prompt (switch asset)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const { asset_type, lang, concept, tone, variant_index, ctx, use_pro } = $json;\nconst LANG_NAMES = { it:'italiano', en:'English', de:'Deutsch', fr:'français', es:'español', pt:'português' };\nconst langName = LANG_NAMES[lang] || lang;\nconst BAN = 'VINCOLI ASSOLUTI: 1) MAI brand famosi (YouTube, Google, Facebook, Instagram, TikTok, Twitter, X, Amazon, Reddit, Twitch, GitHub, LinkedIn): usa sinonimi (\"piattaforme video\",\"social media\",\"e-commerce\",\"forum online\"). 2) MAI scrivere \"149 KB\" / \"149KB\" / \"149 kilobyte\". 3) Voice: ' + tone + '. 4) Solo ' + langName + ', niente mix. 5) Niente claim medici/finanziari/garanzie.';\nlet schema, instr;\nif (asset_type === 'email_drip') {\n  schema = '{ \"subject\": \"...\", \"preheader\": \"...\", \"body_markdown\": \"...\", \"cta_text\": \"...\", \"cta_url\": \"https://adoff.app\" }';\n  instr = `Scrivi UNA email transazionale per AdOff in ${langName} per la fase \"${ctx}\" (es. welcome_day_1, day_3_value, day_7_trial_warn, day_14_upgrade, churn_winback). Subject ≤55 char, preheader ≤90 char, body_markdown 80-220 parole, una sola CTA. Tono: ${tone}.`;\n} else if (asset_type === 'ad_copy') {\n  schema = '{ \"headlines\": [\"...\",\"...\",\"...\"], \"descriptions\": [\"...\",\"...\"], \"primary_text\": \"...\", \"cta_label\": \"...\" }';\n  instr = `Crea creative testuali per ${ctx} (es. meta-ads/google-ads/tiktok-ads) in ${langName}, variant #${variant_index+1}. 3 headlines (30-40 char), 2 descriptions (60-90 char), primary_text 90-125 char, cta_label 2-3 parole imperativa.`;\n} else if (asset_type === 'landing_section') {\n  schema = '{ \"section\": \"' + ctx + '\", \"eyebrow\": \"...\", \"headline\": \"...\", \"subheadline\": \"...\", \"bullets\": [\"...\",\"...\",\"...\"], \"body_paragraphs\": [\"...\"], \"cta_primary\": \"...\", \"cta_secondary\": \"...\" }';\n  instr = `Scrivi sezione landing \"${ctx}\" (es. hero, features, social_proof, pricing_intro, faq_intro, final_cta) per adoff.app in ${langName}. Headline 5-9 parole punchy. Subheadline 12-20 parole. 3-5 bullets concreti. 1-2 paragrafi body (40-80 parole ognuno).`;\n} else {\n  schema = '{}'; instr = 'Errore: asset_type sconosciuto';\n}\nconst prompt = `${BAN}\\n\\nBRAND: AdOff — \"Ads? Off!\" — estensione browser che blocca pubblicità invasive, video puliti, privacy.\\nCONCEPT: ${concept}\\n\\nTASK: ${instr}\\n\\nRESTITUISCI SOLO JSON VALIDO (no markdown fences, no testo prima/dopo):\\n${schema}`;\nconst model = use_pro ? 'gemini-2.5-pro' : 'gemini-2.5-flash';\nreturn [{ json: { ...$json, prompt, model } }];"
      }
    },
    {
      "id": "n21-006-http-gemini",
      "name": "Gemini call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.model }}:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Content-Type", "value": "application/json" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents:[{role:'user',parts:[{text:$json.prompt}]}], generationConfig:{ temperature:0.8, topP:0.95, maxOutputTokens:1800, responseMimeType:'application/json', thinkingConfig:{thinkingBudget:0} }, safetySettings:[{category:'HARM_CATEGORY_HARASSMENT',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_HATE_SPEECH',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_SEXUALLY_EXPLICIT',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_DANGEROUS_CONTENT',threshold:'BLOCK_NONE'}] }) }}",
        "options": {
          "timeout": 45000,
          "response": { "response": { "fullResponse": false, "neverError": true } }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "adoff-gemini-credential-2026",
          "name": "AdOff Gemini API (ServerN8N free/tier1)"
        }
      }
    },
    {
      "id": "n21-007-parse-guard",
      "name": "Parse + Brand-guard + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const meta = $('Build prompt (switch asset)').item.json;\nconst resp = $json;\nconst esc = (s) => s == null ? 'NULL' : `'${String(s).replace(/'/g,\"''\")}'`;\nlet text = '';\ntry { text = resp.candidates?.[0]?.content?.parts?.[0]?.text || ''; } catch(e){}\nlet parsed = null;\ntry { parsed = JSON.parse(text); } catch(e){ const m=text.match(/\\{[\\s\\S]*\\}/); if(m){ try{ parsed=JSON.parse(m[0]); }catch(e2){} } }\nif (!parsed) return [{ json: { ...meta, ok:false, reason:'gemini_no_valid_json', raw:text.slice(0,300) } }];\nconst BRANDS = /\\b(YouTube|Google|Facebook|Instagram|TikTok|Twitter|Amazon|Reddit|Twitch|GitHub|LinkedIn)\\b/i;\nconst SIZE_LEAK = /149\\s*(KB|K B|kilobyte|kilobytes)/i;\nconst full = JSON.stringify(parsed);\nif (BRANDS.test(full)) return [{ json: { ...meta, ok:false, reason:'brand_leak', preview:full.slice(0,200) } }];\nif (SIZE_LEAK.test(full)) return [{ json: { ...meta, ok:false, reason:'149kb_leak', preview:full.slice(0,200) } }];\nif (full.length < 60) return [{ json: { ...meta, ok:false, reason:'body_too_short', preview:full } }];\nconst body = JSON.stringify(parsed);\nconst tokens_in = resp.usageMetadata?.promptTokenCount || 0;\nconst tokens_out = resp.usageMetadata?.candidatesTokenCount || 0;\nconst sql = `INSERT INTO adoff_autopilot.gemini_copy_drafts (workflow, asset_type, platform, lang, concept, body, status, brand_guard_ok, model, tokens_in, tokens_out) VALUES ('w21-long-copy', ${esc(meta.asset_type)}, ${esc(meta.ctx)}, ${esc(meta.lang)}, ${esc(meta.concept)}, ${esc(body)}::jsonb, 'draft', true, ${esc(meta.model)}, ${tokens_in}, ${tokens_out}) RETURNING id;`;\nreturn [{ json: { ...meta, ok:true, parsed, model:meta.model, tokens_in, tokens_out, sql } }];"
      }
    },
    {
      "id": "n21-008-if-ok",
      "name": "IF ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            { "id": "ok-cond", "operator": { "type": "boolean", "operation": "true" }, "leftValue": "={{ $json.ok }}", "rightValue": "" }
          ]
        }
      }
    },
    {
      "id": "n21-009-pg-insert",
      "name": "Postgres INSERT gemini_copy_drafts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "credentials": {
        "postgres": {
          "id": "adoff-pg-autopilot-credential-1234",
          "name": "AdOff Autopilot Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "n21-010-log-fail",
      "name": "Log fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "console.warn('[w21] reject:', JSON.stringify({ asset_type:$json.asset_type, lang:$json.lang, reason:$json.reason, preview:($json.preview||'').slice(0,150) }));\nreturn [{ json: { ...$json, dropped:true } }];"
      }
    },
    {
      "id": "n21-011-wait",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2160, 300],
      "parameters": { "amount": 2, "unit": "seconds" }
    },
    {
      "id": "n21-012-done",
      "name": "Loop done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2400, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set defaults + esplodi", "type": "main", "index": 0 }]] },
    "Webhook /gemini/long-copy": { "main": [[{ "node": "Set defaults + esplodi", "type": "main", "index": 0 }]] },
    "Set defaults + esplodi": { "main": [[{ "node": "Throttle", "type": "main", "index": 0 }]] },
    "Throttle": {
      "main": [
        [{ "node": "Loop done", "type": "main", "index": 0 }],
        [{ "node": "Build prompt (switch asset)", "type": "main", "index": 0 }]
      ]
    },
    "Build prompt (switch asset)": { "main": [[{ "node": "Gemini call", "type": "main", "index": 0 }]] },
    "Gemini call": { "main": [[{ "node": "Parse + Brand-guard + Build SQL", "type": "main", "index": 0 }]] },
    "Parse + Brand-guard + Build SQL": { "main": [[{ "node": "IF ok?", "type": "main", "index": 0 }]] },
    "IF ok?": {
      "main": [
        [{ "node": "Postgres INSERT gemini_copy_drafts", "type": "main", "index": 0 }],
        [{ "node": "Log fail", "type": "main", "index": 0 }]
      ]
    },
    "Postgres INSERT gemini_copy_drafts": { "main": [[{ "node": "Wait 2s", "type": "main", "index": 0 }]] },
    "Log fail": { "main": [[{ "node": "Wait 2s", "type": "main", "index": 0 }]] },
    "Wait 2s": { "main": [[{ "node": "Throttle", "type": "main", "index": 0 }]] }
  },
  "tags": [
    { "name": "adoff" }, { "name": "gemini" }, { "name": "copywriting" }, { "name": "email" }, { "name": "ads" }, { "name": "landing" }, { "name": "v2026" }
  ]
}
