sviluppo/ai-autopilot/n8n-workflows/workflows/23-gemini-seo-research.json.bak.20260520-pre-audit-fix
{
  "id": "w23-gemini-seo-research",
  "name": "23 — Gemini SEO Keyword Research + Brief",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "nodes": [
    {
      "id": "n23-001-trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "parameters": {}
    },
    {
      "id": "n23-002-trigger-webhook",
      "name": "Webhook /gemini/seo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-seo",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "gemini-seo-wh"
    },
    {
      "id": "n23-003-set-defaults",
      "name": "Set seeds + esplodi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = items[0]?.json?.body || items[0]?.json || {};\nconst seeds = Array.isArray(input.seeds) && input.seeds.length ? input.seeds : ['ad blocker browser','blocca pubblicità Chrome','rimuovere annunci video','privacy navigazione','estensione blocca pubblicità'];\nconst langs = Array.isArray(input.langs) && input.langs.length ? input.langs : ['it','en'];\nconst market = input.market || 'EU';\nconst out = [];\nfor (const seed of seeds) {\n  for (const lang of langs) {\n    out.push({ json: { seed, lang, market } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "n23-004-split-batches",
      "name": "Throttle",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "n23-005-build-prompt",
      "name": "Build SEO prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const { seed, lang, market } = $json;\nconst LANG_NAMES = { it:'italiano', en:'English', de:'Deutsch', fr:'français', es:'español' };\nconst langName = LANG_NAMES[lang] || lang;\nconst schema = JSON.stringify({\n  main_keyword: 'string',\n  search_intent: 'informational|commercial|transactional|navigational',\n  monthly_volume_estimate: 'low|medium|high',\n  difficulty_estimate: 'low|medium|high',\n  long_tail_variants: ['string'],\n  related_questions: ['string'],\n  topic_cluster: { pillar:'string', supporting_topics:['string'] },\n  content_brief: { h1:'string', proposed_h2s:['string'], key_points:['string'], word_count_target:1200, internal_links_to:['string'] },\n  meta: { title:'string', description:'string', slug:'string' }\n});\nconst prompt = `Sei SEO strategist per AdOff (estensione browser ad blocker). Analizza la seed keyword e produci un brief SEO completo in ${langName}.\\n\\nSEED: \"${seed}\"\\nMARKET: ${market}\\nLANG: ${langName}\\n\\nVINCOLI ASSOLUTI: MAI nominare brand famosi (YouTube, Google, Facebook, Instagram, TikTok, Twitter, X, Amazon, Reddit, Twitch, GitHub, LinkedIn) — usa sinonimi. MAI \"149 KB\"/varianti. Output solo in ${langName}.\\n\\nDELIVERABLE:\\n- main_keyword normalizzata (lowercase, no varianti).\\n- search_intent classificato.\\n- 8-15 long_tail_variants (3-6 parole, naturali, in ${langName}).\\n- 5-10 related_questions (People Also Ask style).\\n- topic_cluster con 1 pillar + 5-8 supporting_topics.\\n- content_brief con H1 punchy, 5-8 H2 logici, 8-12 key_points concreti, word_count_target realistico.\\n- meta.title ≤60 char, meta.description 140-160 char, meta.slug kebab-case.\\n\\nRESTITUISCI SOLO JSON VALIDO (no markdown fences):\\n${schema}`;\nreturn [{ json: { ...$json, prompt, model:'gemini-2.5-flash' } }];"
      }
    },
    {
      "id": "n23-006-http-gemini",
      "name": "Gemini 2.5 Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents:[{role:'user',parts:[{text:$json.prompt}]}], generationConfig:{ temperature:0.6, topP:0.9, maxOutputTokens:2400, responseMimeType:'application/json', thinkingConfig:{thinkingBudget:0} }, safetySettings:[{category:'HARM_CATEGORY_HARASSMENT',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_HATE_SPEECH',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_SEXUALLY_EXPLICIT',threshold:'BLOCK_NONE'},{category:'HARM_CATEGORY_DANGEROUS_CONTENT',threshold:'BLOCK_NONE'}] }) }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "fullResponse": false, "neverError": true } }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "adoff-gemini-credential-2026",
          "name": "AdOff Gemini API (ServerN8N free/tier1)"
        }
      }
    },
    {
      "id": "n23-007-parse-guard",
      "name": "Parse + Brand-guard + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const meta = $('Build SEO prompt').item.json;\nconst resp = $json;\nconst esc = (s) => s == null ? 'NULL' : `'${String(s).replace(/'/g,\"''\")}'`;\nlet text = '';\ntry { text = resp.candidates?.[0]?.content?.parts?.[0]?.text || ''; } catch(e){}\nlet parsed = null;\ntry { parsed = JSON.parse(text); } catch(e){ const m=text.match(/\\{[\\s\\S]*\\}/); if(m){ try{ parsed=JSON.parse(m[0]); }catch(e2){} } }\nif (!parsed || !parsed.main_keyword) return [{ json: { ...meta, ok:false, reason:'gemini_no_valid_json', raw:text.slice(0,400) } }];\nconst BRANDS = /\\b(YouTube|Google|Facebook|Instagram|TikTok|Twitter|Amazon|Reddit|Twitch|GitHub|LinkedIn)\\b/i;\nconst SIZE_LEAK = /149\\s*(KB|K B|kilobyte|kilobytes)/i;\nconst full = JSON.stringify(parsed);\nif (BRANDS.test(full)) return [{ json: { ...meta, ok:false, reason:'brand_leak', preview:full.slice(0,300) } }];\nif (SIZE_LEAK.test(full)) return [{ json: { ...meta, ok:false, reason:'149kb_leak', preview:full.slice(0,300) } }];\nconst nVariants = (parsed.long_tail_variants||[]).length;\nif (nVariants < 3) return [{ json: { ...meta, ok:false, reason:'too_few_variants', n:nVariants } }];\nconst body = JSON.stringify(parsed);\nconst tokens_in = resp.usageMetadata?.promptTokenCount || 0;\nconst tokens_out = resp.usageMetadata?.candidatesTokenCount || 0;\nconst sql = `INSERT INTO adoff_autopilot.gemini_copy_drafts (workflow, asset_type, platform, lang, concept, body, status, brand_guard_ok, model, tokens_in, tokens_out) VALUES ('w23-seo', 'seo_brief', ${esc(meta.market)}, ${esc(meta.lang)}, ${esc(meta.seed)}, ${esc(body)}::jsonb, 'draft', true, 'gemini-2.5-flash', ${tokens_in}, ${tokens_out}) RETURNING id;`;\nreturn [{ json: { ...meta, ok:true, parsed, tokens_in, tokens_out, sql, n_variants:nVariants } }];"
      }
    },
    {
      "id": "n23-008-if-ok",
      "name": "IF ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [ { "id": "ok", "operator": { "type": "boolean", "operation": "true" }, "leftValue": "={{ $json.ok }}", "rightValue": "" } ]
        }
      }
    },
    {
      "id": "n23-009-pg-insert",
      "name": "Postgres INSERT seo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "credentials": {
        "postgres": {
          "id": "adoff-pg-autopilot-credential-1234",
          "name": "AdOff Autopilot Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "n23-010-log-fail",
      "name": "Log fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "console.warn('[w23] seo reject:', JSON.stringify({ seed:$json.seed, lang:$json.lang, reason:$json.reason }));\nreturn [{ json: { ...$json, dropped:true } }];"
      }
    },
    {
      "id": "n23-011-wait",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2160, 300],
      "parameters": { "amount": 1, "unit": "seconds" }
    },
    {
      "id": "n23-012-done",
      "name": "Loop done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2400, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set seeds + esplodi", "type": "main", "index": 0 }]] },
    "Webhook /gemini/seo": { "main": [[{ "node": "Set seeds + esplodi", "type": "main", "index": 0 }]] },
    "Set seeds + esplodi": { "main": [[{ "node": "Throttle", "type": "main", "index": 0 }]] },
    "Throttle": {
      "main": [
        [{ "node": "Loop done", "type": "main", "index": 0 }],
        [{ "node": "Build SEO prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build SEO prompt": { "main": [[{ "node": "Gemini 2.5 Flash", "type": "main", "index": 0 }]] },
    "Gemini 2.5 Flash": { "main": [[{ "node": "Parse + Brand-guard + Build SQL", "type": "main", "index": 0 }]] },
    "Parse + Brand-guard + Build SQL": { "main": [[{ "node": "IF ok?", "type": "main", "index": 0 }]] },
    "IF ok?": {
      "main": [
        [{ "node": "Postgres INSERT seo", "type": "main", "index": 0 }],
        [{ "node": "Log fail", "type": "main", "index": 0 }]
      ]
    },
    "Postgres INSERT seo": { "main": [[{ "node": "Wait 1s", "type": "main", "index": 0 }]] },
    "Log fail": { "main": [[{ "node": "Wait 1s", "type": "main", "index": 0 }]] },
    "Wait 1s": { "main": [[{ "node": "Throttle", "type": "main", "index": 0 }]] }
  },
  "tags": [
    { "name": "adoff" }, { "name": "gemini" }, { "name": "seo" }, { "name": "v2026" }
  ]
}
